# Predicting-Obesity-Rate-Bases-on-Food-Environment

## Imports

In [2]:
import pandas as pd
import numpy as np

## Problem Statement

The question we am seeking to answer is whether the number of healthy food stores available in each county can predict the obesity rate. We found data on food deserts from the United States Department of Agriculture. In order to see the relationships between a person's food environment and obesity, the data set consists of the availability of the number of grocery stores, fast food restaurants, and full-service restaurants.

## EDA

The current version of the Food Environment Atlas has over 275 variables, including new indicators on access and proximity to a grocery store for sub populations; an indicator on the SNAP Combined Application Project for recipients of Supplemental Security Income (at the State level); and indicators on farmers' markets that report accepting credit cards or report selling baked and prepared food products

In [3]:
df_1 = pd.read_excel('../Data/Acess_food.xlsx')

In [4]:
df_1.head()

,FIPS,State,County,LACCESS_POP10,LACCESS_POP15,PCH_LACCESS_POP_10_15,PCT_LACCESS_POP10,PCT_LACCESS_POP15,LACCESS_LOWI10,LACCESS_LOWI15,...,LACCESS_HISP15,PCT_LACCESS_HISP15,LACCESS_NHASIAN15,PCT_LACCESS_NHASIAN15,LACCESS_NHNA15,PCT_LACCESS_NHNA15,LACCESS_NHPI15,PCT_LACCESS_NHPI15,LACCESS_MULTIR15,PCT_LACCESS_MULTIR15
0,1001,AL,Autauga,18428.439685,17496.693038,-5.056026,33.769657,32.062255,5344.427472,6543.676824,...,471.136164,0.863345,86.767975,0.159000,61.169869,0.112092,8.817961,0.016159,482.848633,0.884808
1,1003,AL,Baldwin,35210.814078,30561.264430,-13.204891,19.318473,16.767489,9952.144027,9886.831137,...,1377.874834,0.755973,212.946378,0.116833,181.649648,0.099662,14.819634,0.008131,1127.696098,0.618712
2,1005,AL,Barbour,5722.305602,6069.523628,6.067799,20.840972,22.105560,3135.676086,2948.790251,...,509.377525,1.855183,17.096410,0.062266,39.960527,0.145539,8.082376,0.029436,462.382655,1.684025
3,1007,AL,Bibb,1044.867327,969.378841,-7.224696,4.559753,4.230324,491.449066,596.162829,...,8.596762,0.037516,1.994318,0.008703,2.513097,0.010967,0.000000,0.000000,5.259244,0.022951
4,1009,AL,Blount,1548.175559,3724.428242,140.568857,2.700840,6.497380,609.027708,1650.959482,...,497.489891,0.867886,8.428994,0.014705,28.938242,0.050484,1.062851,0.001854,202.914187,0.353990

In [5]:
df_1.isnull().sum()

FIPS                          0
State                         0
County                        0
LACCESS_POP10                 0
LACCESS_POP15                19
PCH_LACCESS_POP_10_15        26
PCT_LACCESS_POP10             0
PCT_LACCESS_POP15            19
LACCESS_LOWI10                0
LACCESS_LOWI15               20
PCH_LACCESS_LOWI_10_15       28
PCT_LACCESS_LOWI10            0
PCT_LACCESS_LOWI15           20
LACCESS_HHNV10                0
LACCESS_HHNV15                3
PCH_LACCESS_HHNV_10_15       14
PCT_LACCESS_HHNV10            0
PCT_LACCESS_HHNV15            3
LACCESS_SNAP15               20
PCT_LACCESS_SNAP15           20
LACCESS_CHILD10               0
LACCESS_CHILD15              19
LACCESS_CHILD_10_15          28
PCT_LACCESS_CHILD10           0
PCT_LACCESS_CHILD15          19
LACCESS_SENIORS10             0
LACCESS_SENIORS15            19
PCH_LACCESS_SENIORS_10_15    26
PCT_LACCESS_SENIORS10         0
PCT_LACCESS_SENIORS15        19
LACCESS_WHITE15              19
PCT_LACCESS_WHITE15          19
LACCESS_BLACK15              19
PCT_LACCESS_BLACK15          19
LACCESS_HISP15               19
PCT_LACCESS_HISP15           19
LACCESS_NHASIAN15            19
PCT_LACCESS_NHASIAN15        19
LACCESS_NHNA15               19
PCT_LACCESS_NHNA15           19
LACCESS_NHPI15               19
PCT_LACCESS_NHPI15           19
LACCESS_MULTIR15             19
PCT_LACCESS_MULTIR15         19
dtype: int64

In [6]:
# not a lot of null values so will drop those 
df_1.shape

(3143, 44)

In [7]:
df_1.dropna(inplace=True)

In [8]:
df_2 = pd.read_excel('../Data/acesstostores.xlsx')

In [9]:
df_2.isnull().sum()

FIPS                     0
State                    0
County                   0
GROC09                   0
GROC14                   0
PCH_GROC_09_14          20
GROCPTH09                0
GROCPTH14                0
PCH_GROCPTH_09_14       15
SUPERC09                 0
SUPERC14                 0
PCH_SUPERC_09_14       140
SUPERCPTH09              0
SUPERCPTH14              0
PCH_SUPERCPTH_09_14    139
CONVS09                  0
CONVS14                  0
PCH_CONVS_09_14         24
CONVSPTH09               0
CONVSPTH14               0
PCH_CONVSPTH_09_14      19
SPECS09                  0
SPECS14                  0
PCH_SPECS_09_14        192
SPECSPTH09               0
SPECSPTH14               0
PCH_SPECSPTH_09_14     188
SNAPS12                  0
SNAPS16                 26
PCH_SNAPS_12_16         29
SNAPSPTH12               0
SNAPSPTH16              29
PCH_SNAPSPTH_12_16      32
WICS08                   0
WICS12                   0
PCH_WICS_08_12          19
WICSPTH08                0
WICSPTH12                0
PCH_WICSPTH_08_12       19
dtype: int64

In [10]:
df_2.shape

(3143, 39)

In [11]:
df_2.dropna(inplace=True)

In [12]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3103 entries, 0 to 3142
Data columns (total 44 columns):
FIPS                         3103 non-null int64
State                        3103 non-null object
County                       3103 non-null object
LACCESS_POP10                3103 non-null float64
LACCESS_POP15                3103 non-null float64
PCH_LACCESS_POP_10_15        3103 non-null float64
PCT_LACCESS_POP10            3103 non-null float64
PCT_LACCESS_POP15            3103 non-null float64
LACCESS_LOWI10               3103 non-null float64
LACCESS_LOWI15               3103 non-null float64
PCH_LACCESS_LOWI_10_15       3103 non-null float64
PCT_LACCESS_LOWI10           3103 non-null float64
PCT_LACCESS_LOWI15           3103 non-null float64
LACCESS_HHNV10               3103 non-null float64
LACCESS_HHNV15               3103 non-null float64
PCH_LACCESS_HHNV_10_15       3103 non-null float64
PCT_LACCESS_HHNV10           3103 non-null float64
PCT_LACCESS_HHNV15           3103 non-null float64
LACCESS_SNAP15               3103 non-null float64
PCT_LACCESS_SNAP15           3103 non-null float64
LACCESS_CHILD10              3103 non-null float64
LACCESS_CHILD15              3103 non-null float64
LACCESS_CHILD_10_15          3103 non-null float64
PCT_LACCESS_CHILD10          3103 non-null float64
PCT_LACCESS_CHILD15          3103 non-null float64
LACCESS_SENIORS10            3103 non-null float64
LACCESS_SENIORS15            3103 non-null float64
PCH_LACCESS_SENIORS_10_15    3103 non-null float64
PCT_LACCESS_SENIORS10        3103 non-null float64
PCT_LACCESS_SENIORS15        3103 non-null float64
LACCESS_WHITE15              3103 non-null float64
PCT_LACCESS_WHITE15          3103 non-null float64
LACCESS_BLACK15              3103 non-null float64
PCT_LACCESS_BLACK15          3103 non-null float64
LACCESS_HISP15               3103 non-null float64
PCT_LACCESS_HISP15           3103 non-null float64
LACCESS_NHASIAN15            3103 non-null float64
PCT_LACCESS_NHASIAN15        3103 non-null float64
LACCESS_NHNA15               3103 non-null float64
PCT_LACCESS_NHNA15           3103 non-null float64
LACCESS_NHPI15               3103 non-null float64
PCT_LACCESS_NHPI15           3103 non-null float64
LACCESS_MULTIR15             3103 non-null float64
PCT_LACCESS_MULTIR15         3103 non-null float64
dtypes: float64(41), int64(1), object(2)
memory usage: 1.1+ MB

In [13]:
df_obesity = pd.read_excel('../Data/obesity.xlsx')

In [21]:
df_obesity.head()

,State,County,"Male obesity prevalence, 2001 (%)","Female obesity prevalence, 2001 (%)","Male obesity prevalence, 2009 (%)","Female obesity prevalence, 2009 (%)","Male obesity prevalence, 2011* (%)","Female obesity prevalence, 2011* (%)","Difference in male obesity prevalence, 2001-2009 (percentage points)","Difference in female obesity prevalence, 2001-2009 (percentage points)",Unnamed: 10,*Methodological changes in the 2011 BRFSS may affect comparability between the 2011 estimates and estimates from earlier years
0,United States,NaN,26.1,28.7,32.8,35.1,33.8,36.1,6.7,6.4,NaN,NaN
1,Alabama,NaN,29.7,34.1,36.1,41.2,37.3,42.2,6.4,7.1,NaN,NaN
2,Alabama,Autauga,30.7,32.3,35.9,37.4,37.1,38.8,5.3,5.2,NaN,NaN
3,Alabama,Baldwin,27.8,28.3,32.4,33.0,33.5,33.9,4.5,4.6,NaN,NaN
4,Alabama,Barbour,32.3,42.8,40.3,51.3,41.5,51.6,8.0,8.5,NaN,NaN

In [14]:
df_life_expectancy = pd.read_excel('../Data/Life_Expectancy.xlsx')

In [16]:
df_obesity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3194 entries, 0 to 3193
Data columns (total 12 columns):
State                                                                                                                             3194 non-null object
County                                                                                                                            3142 non-null object
Male obesity prevalence, 2001 (%)                                                                                                 3194 non-null float64
Female obesity prevalence, 2001 (%)                                                                                               3194 non-null float64
Male obesity prevalence, 2009 (%)                                                                                                 3194 non-null float64
Female obesity  prevalence, 2009 (%)                                                                                              3194 non-null float64
Male obesity  prevalence, 2011* (%)                                                                                               3194 non-null float64
Female obesity prevalence, 2011* (%)                                                                                              3194 non-null float64
Difference in male obesity prevalence, 2001-2009 (percentage points)                                                              3194 non-null float64
Difference in female obesity prevalence, 2001-2009 (percentage points)                                                            3194 non-null float64
Unnamed: 10                                                                                                                       0 non-null float64
*Methodological changes in the 2011 BRFSS may affect comparability between the 2011 estimates and estimates from earlier years    0 non-null float64
dtypes: float64(10), object(2)
memory usage: 299.6+ KB

In [18]:
df_obesity.shape

(3194, 12)

In [20]:
df_obesity.isnull().sum()

State                                                                                                                                0
County                                                                                                                              52
Male obesity prevalence, 2001 (%)                                                                                                    0
Female obesity prevalence, 2001 (%)                                                                                                  0
Male obesity prevalence, 2009 (%)                                                                                                    0
Female obesity  prevalence, 2009 (%)                                                                                                 0
Male obesity  prevalence, 2011* (%)                                                                                                  0
Female obesity prevalence, 2011* (%)                                                                                                 0
Difference in male obesity prevalence, 2001-2009 (percentage points)                                                                 0
Difference in female obesity prevalence, 2001-2009 (percentage points)                                                               0
Unnamed: 10                                                                                                                       3194
*Methodological changes in the 2011 BRFSS may affect comparability between the 2011 estimates and estimates from earlier years    3194
dtype: int64

In [19]:
df_life_expectancy.shape

(3194, 16)

In [22]:
df_life_expectancy.head()

,State,County,"Male life expectancy, 1985 (years)","Female life expectancy, 1985 (years)","Male life expectancy, 1990 (years)","Female life expectancy, 1990 (years)","Male life expectancy, 1995 (years)","Female life expectancy, 1995 (years)","Male life expectancy, 2000 (years)","Female life expectancy, 2000 (years)","Male life expectancy, 2005 (years)","Female life expectancy, 2005 (years)","Male life expectancy, 2010 (years)","Female life expectancy, 2010 (years)","Difference in male life expectancy, 1985-2010 (years)","Difference in female life expectancy, 1985-2010 (years)"
0,United States,NaN,70.8,77.8,71.5,78.3,72.5,78.8,74.1,79.2,74.9,79.9,76.1,80.8,5.2,3.0
1,Alabama,NaN,69.1,76.9,69.4,77.1,69.9,77.2,71.0,77.2,71.5,77.3,72.4,77.8,3.3,0.9
2,Alabama,Autauga,68.1,77.0,68.5,77.0,69.3,77.3,71.7,77.6,72.5,77.4,73.3,78.8,5.2,1.8
3,Alabama,Baldwin,71.1,78.8,71.9,79.2,72.4,79.3,73.9,79.2,73.8,79.7,75.0,80.3,3.8,1.5
4,Alabama,Barbour,66.8,76.0,66.7,76.7,68.4,76.9,70.0,76.2,70.5,77.0,72.2,77.2,5.3,1.1

In [23]:
df_life_expectancy.dropna(inplace=True)

In [24]:
df_obesity.dropna(inplace=True)

## Preprocessing