# Predicting-Obesity-Rate-Bases-on-Food-Environment

## Imports

In [2]:
import pandas as pd
import numpy as np

## Problem Statement

The question we am seeking to answer is whether the number of healthy food stores available in each county can predict the obesity rate. We found data on food deserts from the United States Department of Agriculture. In order to see the relationships between a person's food environment and obesity, the data set consists of the availability of the number of grocery stores, fast food restaurants, and full-service restaurants.

## EDA

The current version of the Food Environment Atlas has over 275 variables, including new indicators on access and proximity to a grocery store for sub populations; an indicator on the SNAP Combined Application Project for recipients of Supplemental Security Income (at the State level); and indicators on farmers' markets that report accepting credit cards or report selling baked and prepared food products

In [9]:
df_1 = pd.read_excel('../Data/Acess_food.xlsx')

In [10]:
df_1.head()

,FIPS,State,County,LACCESS_POP10,LACCESS_POP15,PCH_LACCESS_POP_10_15,PCT_LACCESS_POP10,PCT_LACCESS_POP15,LACCESS_LOWI10,LACCESS_LOWI15,...,LACCESS_HISP15,PCT_LACCESS_HISP15,LACCESS_NHASIAN15,PCT_LACCESS_NHASIAN15,LACCESS_NHNA15,PCT_LACCESS_NHNA15,LACCESS_NHPI15,PCT_LACCESS_NHPI15,LACCESS_MULTIR15,PCT_LACCESS_MULTIR15
0,1001,AL,Autauga,18428.439685,17496.693038,-5.056026,33.769657,32.062255,5344.427472,6543.676824,...,471.136164,0.863345,86.767975,0.159000,61.169869,0.112092,8.817961,0.016159,482.848633,0.884808
1,1003,AL,Baldwin,35210.814078,30561.264430,-13.204891,19.318473,16.767489,9952.144027,9886.831137,...,1377.874834,0.755973,212.946378,0.116833,181.649648,0.099662,14.819634,0.008131,1127.696098,0.618712
2,1005,AL,Barbour,5722.305602,6069.523628,6.067799,20.840972,22.105560,3135.676086,2948.790251,...,509.377525,1.855183,17.096410,0.062266,39.960527,0.145539,8.082376,0.029436,462.382655,1.684025
3,1007,AL,Bibb,1044.867327,969.378841,-7.224696,4.559753,4.230324,491.449066,596.162829,...,8.596762,0.037516,1.994318,0.008703,2.513097,0.010967,0.000000,0.000000,5.259244,0.022951
4,1009,AL,Blount,1548.175559,3724.428242,140.568857,2.700840,6.497380,609.027708,1650.959482,...,497.489891,0.867886,8.428994,0.014705,28.938242,0.050484,1.062851,0.001854,202.914187,0.353990

In [11]:
df_1.isnull().sum()

FIPS                          0
State                         0
County                        0
LACCESS_POP10                 0
LACCESS_POP15                19
PCH_LACCESS_POP_10_15        26
PCT_LACCESS_POP10             0
PCT_LACCESS_POP15            19
LACCESS_LOWI10                0
LACCESS_LOWI15               20
PCH_LACCESS_LOWI_10_15       28
PCT_LACCESS_LOWI10            0
PCT_LACCESS_LOWI15           20
LACCESS_HHNV10                0
LACCESS_HHNV15                3
PCH_LACCESS_HHNV_10_15       14
PCT_LACCESS_HHNV10            0
PCT_LACCESS_HHNV15            3
LACCESS_SNAP15               20
PCT_LACCESS_SNAP15           20
LACCESS_CHILD10               0
LACCESS_CHILD15              19
LACCESS_CHILD_10_15          28
PCT_LACCESS_CHILD10           0
PCT_LACCESS_CHILD15          19
LACCESS_SENIORS10             0
LACCESS_SENIORS15            19
PCH_LACCESS_SENIORS_10_15    26
PCT_LACCESS_SENIORS10         0
PCT_LACCESS_SENIORS15        19
LACCESS_WHITE15              19
PCT_LACCESS_WHITE15          19
LACCESS_BLACK15              19
PCT_LACCESS_BLACK15          19
LACCESS_HISP15               19
PCT_LACCESS_HISP15           19
LACCESS_NHASIAN15            19
PCT_LACCESS_NHASIAN15        19
LACCESS_NHNA15               19
PCT_LACCESS_NHNA15           19
LACCESS_NHPI15               19
PCT_LACCESS_NHPI15           19
LACCESS_MULTIR15             19
PCT_LACCESS_MULTIR15         19
dtype: int64

In [13]:
# not a lot of null values so will drop those 
df_1.shape

(3143, 44)

In [18]:
df_1.dropna(inplace=True)

In [14]:
df_2 = pd.read_excel('../Data/acesstostores.xlsx')

In [15]:
df_2.isnull().sum()

FIPS                     0
State                    0
County                   0
GROC09                   0
GROC14                   0
PCH_GROC_09_14          20
GROCPTH09                0
GROCPTH14                0
PCH_GROCPTH_09_14       15
SUPERC09                 0
SUPERC14                 0
PCH_SUPERC_09_14       140
SUPERCPTH09              0
SUPERCPTH14              0
PCH_SUPERCPTH_09_14    139
CONVS09                  0
CONVS14                  0
PCH_CONVS_09_14         24
CONVSPTH09               0
CONVSPTH14               0
PCH_CONVSPTH_09_14      19
SPECS09                  0
SPECS14                  0
PCH_SPECS_09_14        192
SPECSPTH09               0
SPECSPTH14               0
PCH_SPECSPTH_09_14     188
SNAPS12                  0
SNAPS16                 26
PCH_SNAPS_12_16         29
SNAPSPTH12               0
SNAPSPTH16              29
PCH_SNAPSPTH_12_16      32
WICS08                   0
WICS12                   0
PCH_WICS_08_12          19
WICSPTH08                0
WICSPTH12                0
PCH_WICSPTH_08_12       19
dtype: int64

In [16]:
df_2.shape

(3143, 39)

In [17]:
df_2.dropna(inplace=True)